<h1 *ngIf=(!cartContents.length) class='empty-cart-message'>Cart Is Empty!</h1>
<body *ngIf=(cartContents.length) class='cart-container'>
	<div class='cart-item'>
		<div class='cart-item-details'>
		<ul *ngFor='let cartItem of cartContents' >
		<img src={{cartItem.product.url}} class='img'>
		
			<li>{{cartItem.product.name}}</li>
			<li>{{cartItem.product.price}}</li>
			<input [(ngModel)]='cartItem.quantity' (change)='onChange(cartItem)' type=number class='number-input' > 
				
		
		</ul>
		<p>Total: ${{cartTotal}}</p>
	</div>
	</div>
<div class='cart-panel'>
<form class='form-margin' (ngSubmit)='onSubmit(order.fullName, order.address, order.ccNum, cartContents, cartTotal)'>
	<p>Full Name
	<br><input [(ngModel)]='order.fullName' type='text' name='fullName' placeholder='(minimum 3 characters)'>
</p>
	<p>Address
	<br><input [(ngModel)]='order.address' type='text' name='address' placeholder='(minimum 6 characters)'>
</p>
	<p>Credit Card Number
	<br><input [(ngModel)]='order.ccNum' type='number' name='creditCard' placeholder='16-digit number'>
</p>
	<button type='submit'>Submit</button>
</form>
</div>
</body>