<header *ngIf=(!cartContents.length) class='empty-cart-message'>
<h1>Cart Is Empty!</h1>
<button class='btn btn-outline-primary' routerLink = '/' >Back to product list</button>
</header> 

<body *ngIf=(cartContents.length) class='cart-container'>
	<div class='cart-item'>
		<div class='cart-item-details'>
		<ul *ngFor='let cartItem of cartContents' >
		<img src={{cartItem.product.url}} class='img'>
		
			<li>{{cartItem.product.name}}</li>
			<li>{{cartItem.product.price}}</li>
			<!-- <input [(ngModel)]='cartItem.quantity' (change)='onChange(cartItem)' type=number class='number-input' required min='0' > -->
			<input [(ngModel)]='cartItem.quantity' (ngModelChange)='onChange(cartItem)' type=number class='number-input' required min='0' > 
				
		
		</ul>
		<p>Total: ${{cartTotal}}</p>
	</div>
	</div>
<div class='cart-panel'>
<form #cartform='ngForm' class='form-margin' (ngSubmit)='onSubmit(order.fullName, order.address, order.ccNum, cartContents, cartTotal)'>
	<p>Full Name
	<br><input [(ngModel)]='order.fullName' type='text' name='fullName' placeholder='(minimum 3 characters)' required minlength="3">
</p>
	<p>Address
	<br><input [(ngModel)]='order.address' type='text' name='address' placeholder='(minimum 6 characters)' required minlength="6">
</p>
	<p>Credit Card Number
	<br><input [(ngModel)]='order.ccNum' type='tel' name='creditCard' placeholder='16-digit number' required minlength="16">
</p>
	<button type='submit' class='btn btn-outline-primary btn-lg' [disabled]="cartform.invalid" >Submit</button>
</form>
<button class='back-button btn btn-outline-primary' routerLink = '/' >Back to product list</button>
</div>
</body>

