<h1 *ngIf=(!cartContents.length) class='empty-cart-message'>Cart Is Empty!</h1>
<body *ngIf=(cartContents.length) class='cart-container'>
	<div class='cart-item'>
		<div class='cart-item-details'>
		<ul *ngFor='let cartItem of cartContents' >
		<img src={{cartItem.product.url}} class='img'>
		
			<li>{{cartItem.product.name}}</li>
			<li>{{cartItem.product.price}}</li>
			<li class='number-input'>{{cartItem.quantity}}</li>
		
		</ul>
		<p>Total: ${{cartTotal.toFixed(2)}}</p>
	</div>
	</div>
<div class='cart-panel'>
<form class='form-margin'>
	<p>Full Name
	<br><input type='text' name='fullName' placeholder='(minimum 3 characters)'>
</p>
	<p>Address
	<br><input type='text' name='address' placeholder='(minimum 6 characters)'>
</p>
	<p>Credit Card Number
	<br><input type='number' name='creditCard' placeholder='16-digit number'>
</p>
	<button type='submit'>Submit</button>
</form>
</div>
</body>