<div class='detail-container'>
	<img class='img' src={{product.url}} >
	<div class='detail-item'>
	<br>{{product.name}}
	<br>{{product.price}}
	<br>{{product.description}}
	<form #detailForm='ngForm' (ngSubmit)='onSubmit(product, cartItem.quantity)'>
		<input type='number' name='quantity' [(ngModel)]='cartItem.quantity' min='1' required>
		<br><button type='submit' class="btn btn-primary btn-lg" [disabled]="detailForm.invalid"> Add To Cart</button>
	</form>
	<button routerLink = '/' class = '.back-link btn btn-primary'>Back to product list</button>
	</div>
	</div>
